.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  border-radius: 10px;
  max-width: 700px;
  padding: 30px 50px;
  background-color: rgb(23, 23, 23);
  margin-bottom: 30px;
}
.hero {
  margin-bottom: 18px;
}
.hero span {
  font-weight: bold;
  color: rgb(112, 193, 193);
}
.hero p {
  margin-left: 15px;
}
.container h2 {
  color: rgb(112, 193, 193);
  margin-top: 10px;
  font-size: 1.3rem;
}
.btmp {
  margin-top: 10px;
}
.links {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.links button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  background-color: rgb(59, 59, 59);
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
}
.links button:hover {
  background-color: transparent;
  outline: 1px solid white;
}
ul li {
  list-style-position: inside;
}
